<!-- Trigger the Modal -->
<img id="{{ include.ID }}_img" class="modal_img" src="assets/{{ include.imagePath }}" alt="{{ include.imageDesc }}" style="width:100%;max-width:300px">

<!-- The Modal -->
<div id="{{ include.ID }}" class="modal"> 

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="{{ include.ID }}_img01">

  <!-- Modal Caption (Image Text) -->
  <div id="{{ include.ID }}_caption" class="modal-caption"></div>
</div>

<script>

    document.getElementById("{{ include.ID }}_img").onclick = function(){
        document.getElementById("{{ include.ID }}").style.display = "block";
        document.getElementById("{{ include.ID }}_img01").src = this.src;
        document.getElementById("{{ include.ID }}_caption").innerHTML = this.alt;
    }

    // When the user clicks, close the modal
    document.getElementById("{{ include.ID }}").onclick = function() {
        document.getElementById("{{ include.ID }}").style.display = "none";
    }
</script>
