<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="{{ include.class }} fade">
        <img id="{{ include.class}}_modal1" src="assets/{{ include.img1 }}" alt="{{include.caption1}}" style="width:100%; height:98%; border-radius:10px; cursor:pointer; transition:0.3s;">
    </div>
  
    <div class="{{ include.class }} fade">
        <img id="{{ include.class}}_modal2" src="assets/{{ include.img2 }}" alt="{{include.caption2}}" style="width:100%; height:98%; border-radius:10px; cursor:pointer; transition:0.3s;">
    </div>
    
    <div class="{{ include.class }} fade">
        <img id="{{ include.class}}_modal3" src="assets/{{ include.img3 }}" alt="{{include.caption3}}" style="width:100%; height:98%; border-radius:10px; cursor:pointer; transition:0.3s;">
    </div>
  
    <div class="{{ include.class }} fade">
        <img id="{{ include.class}}_modal4" src="assets/{{ include.img4 }}" alt="{{include.caption4}}" style="width:100%; height:98%; border-radius:10px; cursor:pointer; transition:0.3s;">
    </div>

    <!-- Next and previous buttons -->
    <a class="slideshow-prev" onclick="plusSlides(-1, {{ include.index }} )">&#10094;</a>
    <a class="slideshow-next" onclick="plusSlides(1, {{ include.index }} )">&#10095;</a>
</div>
<br>