<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="slideshow-mySlides fade">
        <div class="slideshow-numbertext">1 / 4</div>
        <img src="assets/{{ include.img1 }}" style="width:100%">
        <div class="slideshow-text">{{ include.caption1 }}</div>
    </div>
  
    <div class="slideshow-mySlides fade">
        <div class="slideshow-numbertext">2 / 4</div>
        <img src="assets/{{ include.img2 }}" style="width:100%">
        <div class="slideshow-text">{{ include.caption2 }}</div>
    </div>
    
    <div class="slideshow-mySlides fade">
        <div class="slideshow-numbertext">3 / 4</div>
        <img src="assets/{{ include.img3 }}" style="width:100%">
        <div class="slideshow-text">{{ include.caption3 }}</div>
    </div>
  
    <div class="slideshow-mySlides fade">
        <div class="slideshow-numbertext">4 / 4</div>
        <img src="assets/{{ include.img4 }}" style="width:100%">
        <div class="slideshow-text">{{ include.caption4 }}</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="slideshow-prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="slideshow-next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
  
<!-- The dots/circles -->
<div style="text-align:center">
    <span class="slideshow-dot" onclick="currentSlide(1)"></span>
    <span class="slideshow-dot" onclick="currentSlide(2)"></span>
    <span class="slideshow-dot" onclick="currentSlide(3)"></span>
    <span class="slideshow-dot" onclick="currentSlide(4)"></span>
</div>

<script>
    var slideIndex = 0;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slideshow-mySlides");
        var dots = document.getElementsByClassName("slideshow-dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>