---
---

@import "{{ site.theme }}";

body {
    background: #171717;
}

.wrapper {
    max-width: 65%;  
}

section {
    max-width: none;
}

#topwrapper{
    min-width: 900px;
}

#header{
    position: sticky;
}

#header nav {
    max-width: 65%;
    min-width: 100px;
}

#header nav li a{
    background-color: #728c2b;
}

#header nav li.title {
    float: left;
    font-size: 34px;
    position: relative;
    top: -15px;
}

#header nav li.subtitle {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    left: -171.6px;
    top: 15px;
}

#header nav li.downloads{
    float: right;
}

#buttons{
    float: left;
    width: calc(100% - 260px);
    top: -51px;
    position: relative;
    left: 260px;
}