---
---

@import "{{ site.theme }}";

body {
    background: #171717;
    float: left;
}

.wrapper {
    max-width: 50%;
    top: -20px;  
}

#image{
    float: left;
    width: 75px;
}

section {
    padding: 0px 0px 50px 0px;
    margin: 0px 0;
    margin-top: 33px;
    max-width: none;
}

#topwrapper{
    min-width: 1460px;
}

#header{
    position: sticky;
    height: 65px;
}

#header nav {
    max-width: 50%;
    min-width: 100px;
    margin: 0px auto;
}

#header nav li a{
    background-color: #728c2b;
    font-size: 20px;
}
#header nav li a.active{
    background-color: #2d3e16;
}

#header nav li.title {
    float: left;
    font-size: 34px;
    position: relative;
    top: -6px;
}

#header nav li.subtitle {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    left: -171.6px;
    top: 25px;
}

#header nav li.downloads{
    float: right;
    font-size: 14px;
}

#header nav li.downloads.active{
    background-color: #276114;
}

#buttons{
    float: left;
    width: calc(100% - 335px);
    top: -40px;
    position: relative;
    left: 260px;
}

section #title h1{
    line-height: 45px;
}

section #title{
    margin: 0 0 0 0;
}

.aspect-ratio
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 28.125%;
}

.aspect-ratio iframe
{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
}

.aspect-ratio quarterImage
{
    position: absolute;
    width: 25%;
    height: 50%;
}



















/* Style the Image Used to Trigger the Modal */
.modal-image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; 
    width: 90%;
    height: 85%;
    top: 7.5%;
    left: 10%;
    position: absolute;
  }
  
  .modal-image:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  .modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, .modal-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }























  /* Slideshow container */
  .slideshow-container {
    box-sizing:border-box;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .slidshow-mySlides {
    box-sizing:border-box;
    display: none;
  }
  
  /* Next & previous buttons */
  .slideshow-prev, .slideshow-next {
    cursor: pointer;
    box-sizing:border-box;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .slideshow-next {
    box-sizing:border-box;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .slideshow-prev:hover, .slideshow-next:hover {
    box-sizing:border-box;
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .slideshow-text {
    box-sizing:border-box;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .slideshow-numbertext {
    box-sizing:border-box;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .slideshow-dot {
    cursor: pointer;
    box-sizing:border-box;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .slideshow-active, .slideshow-dot:hover {
    box-sizing:border-box;
    background-color: #717171;
  }
  
  /* Fading animation */
  .slideshow-fade {
    box-sizing:border-box;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes slideshow-fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes slideshow-fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
