---
---

@import "{{ site.theme }}";

body {
    background: #171717;
}

.wrapper {
    max-width: 50%;
    top: -20px;  
}

#image{
    float: left;
    width: 75px;
}

section {
    padding: 0px 0px 50px 0px;
    margin: 0px 0;
    margin-top: 33px;
    max-width: none;
}

#topwrapper{
    min-width: 1460px;
}

#header{
    position: sticky;
    height: 65px;
}

#header nav {
    max-width: 50%;
    min-width: 100px;
    margin: 0px auto;
}

#header nav li a{
    background-color: #728c2b;
    font-size: 20px;
}
#header nav li a.active{
    background-color: #000000;
}

#header nav li.title {
    float: left;
    font-size: 34px;
    position: relative;
    top: -6px;
}

#header nav li.subtitle {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    left: -171.6px;
    top: 25px;
}

#header nav li.downloads{
    float: right;
    font-size: 14px;
}

#header nav li.downloads.active{
    background-color: #276114;
}

#buttons{
    float: left;
    width: calc(100% - 335px);
    top: -40px;
    position: relative;
    left: 260px;
}

section #title h1{
    line-height: 45px;
}

section #title{
    margin: 0 0 0 0;
}